<p>{{ helloString }}</p>
<button class="btn btn-default" ng-click="pushButton()">Push Me!</button>

	<table class="table">
		<thead>
			<tr>
				<th>This is a header</th>
				<th>This is a header</th>
				<th>This is a header</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<input class="text" type="text" ng-model="col1Text" />
					<button class="btn btn-default" ng-click="pushButton()">Do Something Else!</button>
					<p>This is a Column</p>
				</td>
				<td>
					<button class="btn btn-default" ng-click="pushButton()">Do Something Else!</button>
					<p>This is a Column</p>
				</td>
				<td>
					<button class="btn btn-default" ng-click="pushButton()">Do Something Else!</button>
					<p>This is a Column</p>
				</td>
			</tr>		
		</tbody>
	</table>